#game-result {
  position: fixed;
  top: 40%;
  left: 18.5%;
  width: 60%;
  height: 30%;
  background-color: rgb(114, 13, 204);
  padding: 1rem;
  color: black;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

#game-result p,
#game-result h1 {
  color: rgb(215, 187, 247);
  margin: 1rem auto;
  font-weight: bolder;
  text-align: center;
}

#game-result button {
  margin-bottom: 1rem;
  background-color: rgb(215, 187, 247);
  color: rgb(131, 24, 224);
  font-weight: bolder;
}

#game-result button:hover {
  background-color: rgb(172, 95, 240);
  color: rgb(215, 187, 247);
}

.modal {
  position: fixed;
  top: 20%;
  left: 5%;
  width: 90%;
  background-color: white;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: none;
  /* we will make this visible by the javascript code later on! */
}

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  /* we will make this visible by the javascript code later on! */
}

@media (min-width: 48rem) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}
